@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	font-family: sans-serif;
}

input[aria-invalid="true"] {
	@apply input-error
}
